*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header{
    background-color: #ff6900;
    min-height: 50px;
    position: fixed;
    width: 100%;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 50px;
    align-items: center;
   
}


header a{
    text-decoration: none;
    color: white;
}


.img-boolean{
    width: 90px;
}

header i{
    color: white;
}








/* MAIN */





.flex-container2{
    display: flex;
    padding-top: 100px;
    justify-content: center;
}


main img{
    width: 250px;
    height: 350px;
    margin-right: 10px;
}


.text1{
    padding-left: 10px;
}



.flex-container3{
    display: flex;
    flex-direction: row;
}


.text1{
    padding-left: 160px;
}


.text2{
    padding-left: 125px;
}

.text3{
    padding-left: 190px;
}


.text4{
    padding-left: 195px;
}


.text5{
    padding-left: 175px;
}


.costo{
    display: inline-block;
    color: red;
}


.sconto{
    display: inline-block;
    text-decoration: line-through;
}








.hoverfoto{
    display: none;
    position: absolute;
    
}


:hover + .hoverfoto{
    display: block;
   
}



.hoverfoto1{
    left: 160px;

}


.hoverfoto3{
    left: 681px;

}




.box-sconti-sostenibilità h6{
    position: absolute;
    top: 400px;
}



.scontoperc{
    background-color: red;
    color: white;

}


.sostenibilità{
    left: 190px;
    background-color: green;
    color: white;
}



.box-sconti-sostenibilità2 h6{
    position: absolute;
    top: 900px;
}


.sostenibilità2{
    left: 682px;
    background-color: green;
    color: white;
}



.quadrato-cuore{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    top: 600px;
    


}



i{  
    margin-top: 15px;
    margin-left: 18px;
}


.cuore-left1{
    left: 362px;
}


.cuore-left2{
    left: 622px;

}


.cuore-left3{
    left: 882px;
}



.quadrato-cuore-fila1{
    top: 104px;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;

}






















.flex-container4{
    min-height: 80px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}



footer{
    color: white;
}


footer h6{
    display: inline-block;
}



.margin-siti{
    margin: 0;
    font-size: small;
}